* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #e9e9e9;
}
.top {
    width: 100%;
    height: 250px;
    background-color: #8a80b1;
    color: #fff;
    padding: 35px 25px;
    position: relative;
    overflow: hidden;
    z-index: -1;

}
.top .cir {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #a096c396;
    position: absolute;
    right: -50px;
    top: -90px;
    
}

.top .cir2 {
    width: 220px;
    height: 220px;
    border-radius: 50%;
     background-color: #a096c3;
     /* box-shadow: 3px 1px 1px #888787; */
    /* background-color: #392972; */
    position: absolute;
    right: -100px;
    top: -50px;
    

}
.top .mt-f {
 color: #d8d8d8;
}
.main .container .signup-form{
    width: 100%;
    padding: 10px 20px;
    margin-top: -70px;
    
}
.container .signup-form  form {
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 13px;

    -webkit-box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    -moz-box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    
}
.main .container .login-form{
    width: 100%;
    /* padding: 10px 20px; */
    margin-top: -70px;
    
}
.container .login-form  form {
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 13px;

    -webkit-box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    -moz-box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    
}
.main .container .reset-form{
    width: 100%;
    /* padding: 10px 20px; */
    margin-top: -70px;
    
}
.container .reset-form  form {
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 13px;

    -webkit-box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    -moz-box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    box-shadow: 3px 3px 9px 0px rgba(204,190,204,1);
    
}
form .para {
    margin: 15px 0;
}
form .para .fade {
    color: #777;
    font-size: 14px;
}
.input-box .email{
 padding: 10px 0 25px;
}
.input-box  input {
    border: 1px solid #c7bdbd;
    border-radius: 10px;
    outline: none;
    width: 100%;
    padding: 10px 7px;
}
.input-box p {
    font-size: 13px;
    font-weight: bold;
}

form .submit {
    width: 100%;
    padding: 30px 0 20px;

}
form .submit button {
 width: 100%;
 padding: 15px 7px;
 border: none;
 outline: none;
 color: #fff;
 background-color: #8a80b1;
  border-radius: 10px;
 
}
.forget-pswd {
    font-size: 12px;
    padding: 5px 0;
    color: #5e577c;
}
.fade {
    margin-top: 15px;
    font-size: 10px;
}
.para {
    font-size: 13.8px;
}
.saved-email {
    
    padding: 5px 7px;
    background-color: #c0b8df;
    color: #5e577c;
    font-size: 11px;
    border-radius: 20px;
}
#savedUser {
    text-transform: capitalize;
}

.error-email, .error-name, .error-password {
    font-size: 12px;
    margin-top: 5px;
    color: #bb2124;
}
.error-msg {
    display: flex;
    align-items: center;
    gap: 3px;
}
button {
cursor: pointer;
}
.username {
    text-transform: capitalize;
}
/* @media (max-width: 450px) {
    .fade {
        font-size: 1px;
    }
} */








































@media (max-width: 470px) {
    .main .container .signup-form{
        width: 100%;
       
    }
    .container .signup-form  form {
        width: 89%;
    }

    .main .container .login-form{
        width: 100%;
       
    }
    .container .login-form  form {
        width: 89%;
    }
    .main .container .reset-form{
        width: 100%;
       
    }
    .container .reset-form  form {
        width: 89%;
    }
}

/* in the app , the overlay bo will be an input to save your name in local sstorage and display it in the app profile */
